<h1>Show Architecture</h1>

<svg height="210" width="500" >
    <g>
        <rect x="10" y="10" width="300" height="100"  phx-hook="Svg" id="1" class="node"></rect>

    </g>
 </svg>

 <div phx-click="add" phx-value-myvar1="val1" phx-value-myvar2="val2">+</div>
